<!DOCTYPE html>
<html>

<head>
  <title>View Donations Offered</title>
  <link rel="stylesheet" href="css/slider.css" type="text/css" />
</head>
<style>
  .red_text {
    font-size: 2.2rem !important;
    color: red;
  }

</style>

<body>
  <div ng-app="myApp" ng-controller="DonationCtrl" ng-init="sortfield='modified';list_events=false;">
    <h5>VIEW OFFERS</h5>
    <div>
      <input type="radio" ng-model="criteria" value="City" ng-click="alldonations=false; found=''"> City Based&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" ng-model="criteria" value="Near Me" ng-click="alldonations=false; found=''"> Offers Near An Address
    </div>
    <div ng-switch="criteria">
      <div ng-switch-when="City">
        <br>
        <div class="ex2">
          <div class="row">
            <div class="col-sm-7">
              <input type="text" placeholder="Enter City" name="citySelect" ng-model="data.citySelect" ng-minlength="2" ng-required="true" />&nbsp;
            </div>
            <div class="col-sm-5">
              <button type="button" class="btn btn-primary btn-md" ng-click="GetEventsByCityAndType(data.citySelect, 'DONATE')">Fetch Donations</button>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="ex2" ng-switch-when="Near Me">
        <br>
        <div id="slidecontainer">
          <p>Select Distance: </p><input type="range" ng-model="data.distance" min="1" max="50" value="25" class="slider" id="myRange">
          <p>{{'Within ' + data.distance + 'Km'}} Of Address</p>
        </div>
        <p>
          <!--    <button type="button" class="btn btn-primary btn-sm" ng-click="PopulateDefaultAddress();data.searchAddress=address">Use My Default Address</button>-->
          <input type="text" name="myAddress" size="20" ng-model="data.searchAddress" placeholder="e.g. Park Street, Kolkata">
          <button type="button" class="btn btn-primary btn-md" ng-click="OrchestrateGetNearby(data,'DONATE'); spinner = true;">Fetch Offers</button></p>
        <br>
      </div>
    </div>
    <center /><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
    <center>
      {{found}}
      <br>
    </center>
    <div class="container ex2" ng-show="list_events">
      <label><i class="fa fa-arrow-circle-up " ng-show="!reverse" ng-click="reverse = !reverse;"> </i>
        <i class="fa fa-arrow-circle-down " ng-show="reverse" ng-click="reverse = !reverse;"></i> &nbsp;&nbsp;&nbsp;&nbsp;
        <select name="sort" ng-model="sortfield">
          <option value="time_created" selected>Date</option>
          <option value="postedby">Name</option>
          <option value="itemtype">Item Type</option>
          <option value="address">Address</option>
        </select>
        <br>
      </label>&nbsp;&nbsp;
      <label>
        <input type="text" placeholder="Search items, places etc." ng-model="searchText">&nbsp;&nbsp;
        <i class="fa fa-search "></i>
      </label>
      <br><b>{{resultEvents}}{{}}</b>
      <table class="table table-responsive" id="eventstable">
        <tr ng-repeat="row in events | orderBy : sortfield : reverse| filter:searchText">
          <td ng-init="stackicon = row.fa_icon + ' fa-stack-1x'; iconcolor = row.event_type == 'NEEDED' ? 'redicon' : 'greenicon'">
            <span class="fa-stack" style="vertical-align: top;">
              <i class="'fa-regular fa-circle fa-stack-2x"></i>
              <i class="{{stackicon}}"></i>
            </span>&nbsp;
            <span class="fa-stack " ng-show="isEmergency(row.itemtype)">
              <i class="fa fa-circle fa-stack-2x icon-backgroundemergency"></i>
              <i class="fa fa-plus-square fa-stack-1x"></i>
            </span>
            <p class="{{iconcolor}}">{{row.event_type + ' ' + row.itemtype}}</p>
            <!--{{ TranslateEventToEnglish(row.itemtype); english }}-->
            <br> {{row.itemtype + ': '}} {{row.items}} {{ '. Posted by ' + row.postedby}} at {{row.address}}; posted on {{row.time_created | date:'medium'}}<br>
            <a href=mailto:{{row.email}}><i class="fa fa-envelope"></i></a>
            <span style="display:inline-block; width: 36px;"></span>
            <a href=tel:{{row.phone_number}}><i class="fa fa-phone"></i></a>
            <span style="display:inline-block; width: 36px;"></span>
            <a href='' ng-click="ShowDirections(row.address)"><i class="fa fa-map-marker"></i></a>
            <span ng-show="mobileDevice" style="display:inline-block; width: 36px;"></span>
            <a href='' ng-show="mobileDevice" ng-click="SocialShare(row, 'FreeCycle New Event Alert')"><i class="fa fa-share-square-o"></i></a>
            <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
            <li class="dropdown" ng-show="!mobileDevice">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-square"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
                  <a href='' ng-show="!mobileDevice" ng-click="SocialShare(row, 'twitter')">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
                  <a href='' ng-show="!mobileDevice" ng-click="SocialShare(row, 'facebook')">
                    <i class="fa fa-facebook "></i>
                  </a>
                </li>
                <li>
                  <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
                  <a href='' ng-show="!mobileDevice" ng-click="SocialShare(row, 'google')">
                    <i class="fa fa-google-plus "></i>
                  </a>
                </li>
                <li>
                  <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
                  <a href='' ng-show="!mobileDevice" ng-click="SocialShare(row, 'linkedin')">
                    <i class="fa fa-linkedin "></i>
                  </a>
                </li>
                <li>
                  <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
                  <a href='' ng-show="!mobileDevice" ng-click="SocialShare(row, 'pinterest')">
                    <i class="fa fa-pinterest "></i>
                  </a>
                </li>
              </ul>
            </li>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>
